body{
    background-color: black;
}

/*---------------------------------------*/

#breadcrumb{
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    z-index: 10;
    width: 100%;
    margin-top: -5vh;
}

#breadcrumb ol{
    background-color: #1d1d1d!important;
    color: #fff!important;
    margin: 0;
}

#breadcrumb div::before{
    content: "";
    width: 100px;
    height: 20px;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    margin-bottom: -50%;
    background-color: #1d1d1d;
    border-bottom-left-radius: 50%;
    border-bottom-right-radius: 50% ;
}

/*---------------------------------------*/


/*---------------------------------------*/

.jumbotron{
    margin-top: 50px;
    color: white;
    background: url(./Media/jumbotron.jpg);
    background-size: cover;
}


/*---------------------------------------*/



#carouselExampleControls{
    margin-top: 50px;
}
/*---------------------------------------*/

#top_album{
    margin-top: 50px;
    position: relative;
}

.card{
    background-color: #1d1d1d;
    color: white;
}

.card img{
    height: 250px;
}

.badge{

    position: absolute;
    width: 30px ;
    height: 30px;
    border-radius: 50%;
    top: -2%;
    right: 0;
    z-index: 10;
    font-size: smaller;
}
.badge:hover{
    transform: rotate(-360deg);
    padding: 3vh;
    transition: transform 3s, padding 1s ease;
}

/*---------------------------------------*/



#album_details{
    margin-top: 50px;
    color: white;
}

#album_details .row .col-3 img{

    width: 50px;
    height: 50px;
    margin: auto;
}

/*---------------------------------------*/


