/* GENERAL-------------------------------------------------------------------------------------------------------- */
*, *::before, *::after{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body{
    padding: 0;
    margin: 0;
}


#project{
    margin: 0;
    padding: 0;
}
/* NAVBAR-------------------------------------------------------------------------------------------------------- */

    nav .cart_search{
        display: flex;
        width: 10%;
    }

    .cart{
        display: flex;
        margin-right: 10px;
    }
    .dropleft{
        width: 25px;
    }

/* BANNER-------------------------------------------------------------------------------------------------------- */
.container.bannner{
    position: relative;
    display: flex;
    height: 50vh;
    box-sizing: border-box;
    margin-top: 3vh;
    background: url(./Media/bannerbg.jpg);
}
.banner-split{
    content: '';
    width: 100%;
    position: absolute;
    background-color: black;
}
.banner .row{
    display: flex;
    height: 100%;
}


/* SLIDER-------------------------------------------------------------------------------------------------------- */
.slider{
    width: 100%;
    padding: 0 100px;
}

.slide-container{
    width: 500%;
    display: flex;
}
.slide{
    width: 100%;
    margin: 0 1vh;
}

.slide img{
    width: 100%;
}


/* 5-------------------------------------------------------------------------------------------------------- */

/* 6-------------------------------------------------------------------------------------------------------- */

/* 7-------------------------------------------------------------------------------------------------------- */

/* 8-------------------------------------------------------------------------------------------------------- */

/* 9-------------------------------------------------------------------------------------------------------- */

/* 10-------------------------------------------------------------------------------------------------------- */
