*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

/* NAVBAR ---------------------------------------------------------------------------------------- */

nav img{
    width: 40px;
}



/* JUMBOTRON ----------------------------------------------------------------------------------------------- */

.jumbotron{
    text-align: center;
}

/* DEAL OF THE WEEK ----------------------------------------------------------------------------------------------- */

.week_deals .week_card{
    width: 100px;
    height: 100px;
}

.week_card{
    background-image: url(./Media/Kimbo-Logo-Finale.png);
}

/* WELCOME SUMMER ----------------------------------------------------------------------------------------------- */



/* DEAL OF THE DAY ----------------------------------------------------------------------------------------------- */



/* LAST MINUTE ----------------------------------------------------------------------------------------------- */



/* TESTIMONIAL ----------------------------------------------------------------------------------------------- */



/* MODAL ----------------------------------------------------------------------------------------------- */



/* FOOTER ----------------------------------------------------------------------------------------------- */