body{
    background-color: black;
}

/*---------------------------------------*/

.navbar{
    color: white;
    background-color: black;
}

/*---------------------------------------*/

.jumbotron{
    margin-top: 50px;
    color: white;
}


/*---------------------------------------*/



#carouselExampleControls{
    margin-top: 50px;
}
/*---------------------------------------*/

#top_album{
    margin-top: 50px;
}

.card{
    background-color: #1d1d1d;
    color: white;
}

.card img{
    height: 250px;
}

/*---------------------------------------*/

#album_details{
    margin-top: 50px;
    color: white;
}

#album_details .row .col img{

    width: 50px;
    height: 50px;
    margin: auto;
}

/*---------------------------------------*/

/*#tapetry_container{
    width: 500px;
    height: 400px;
    display: grid;
    grid-template-rows: 1fr 1fr 1fr 1fr;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    grid-template-areas: "box1 box1 box2 box3 box8"
                         "box1 box1 box4 box4 box9"
                         "box5 box6 box6 box7 box9"
                         "box3 box3 box8 box5 box5";
    margin-top: 50px;
}

#tapetry_container .tapetry{
    width: 100px;
    height: 100px;
}

#tapetry_container #one{
    
    background-image: url(./Media/logo\ bg.jpg);
    background-size: cover;
    background-position: center;
    border: 5px solid white;
    grid-area: box1;
}

#tapetry_container #two{
    
    background-image: url(./Media/panic.png);
    background-size: cover;
    background-position: center;
    border: 5px solid white;
    grid-area: box2;
}

#tapetry_container #three{
    
    background-image: url(./Media/royal1.jpg);
    background-size: cover;
    background-position: center;
    border: 5px solid white;
    grid-area: box3;
}

#tapetry_container #four{
    
    background-image: url(./Media/slide2.jpg);
    background-size: cover;
    background-position: center;
    border: 5px solid white;
    grid-area: box4;
}

#tapetry_container #five{
    
    background-image: url(./Media/royal\ details.jpg);
    background-size: cover;
    background-position: center;
    border: 5px solid white;
    grid-area: box5;
}

#tapetry_container #six{
    
    background-image: url(./Media/panic\ card.jpg);
    background-size: cover;
    background-position: center;
    border: 5px solid white;
    grid-area: box6;
}

#tapetry_container #seven{
    
    background-image: url(./Media/slide3.png);
    background-size: cover;
    background-position: center;
    border: 5px solid white;
    grid-area: box7;
}

#tapetry_container #eight{
    
    background-image: url(./Media/logo\ bg.jpg);
    background-size: cover;
    background-position: center;
    border: 5px solid white;
    grid-area: box8;
}

#tapetry_container #nine{
    
    background-image: url(./Media/royal1.jpg);
    background-size: cover;
    background-position: center;
    border: 5px solid white;
    grid-area: box9;
}
*/

